# 使用淘宝镜像源加速下载
registry=https://registry.npmmirror.com

# 關鍵：指定 Prisma 引擎下載源為淘寶鏡像
prisma_engines_mirror=https://registry.npmmirror.com/-/binary/prisma

public-hoist-pattern[]=lefthook
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=prettier-plugin-tailwindcss
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*

# pnpm 相关配置
strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
